<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        div(class='container')
            div(class='header')
                span 500

            div(class='description')
                span Что-то пошло не так

            div(class='button-container')
                button(type='submit') Назад к чату

        script(src='./500error.js')
