div(class='container')
    div(class='form-container')
        form(id='registry_form')
            div(class='registry_form')
                h3 Регистрация

            div(class='submit-container')

            div(class='center-text')
                a(href='../../index.html') Войти