div(class='container')
    div(class='form-container')
        form(id='registry_form')
            div(class='registry_form')
                h3 Регистрация
                template(data-component="mailLabel")
                template(data-component="mailInput")
                template(data-component="mailEmpty")
                template(data-component="loginLabel")
                template(data-component="loginInput")
                template(data-component="loginEmpty")
                template(data-component="loginError")
                template(data-component="firstNameLabel")
                template(data-component="firstNameInput")
                template(data-component="firstNameEmpty")
                template(data-component="firstNameError")
                template(data-component="secondNameLabel")
                template(data-component="secondNameInput")
                template(data-component="secondNameEmpty")
                template(data-component="secondNameError")
                template(data-component="phoneLabel")
                template(data-component="phoneInput")
                template(data-component="phoneEmpty")
                template(data-component="phoneError")
                template(data-component="passwordLabel")
                template(data-component="passwordInput")
                template(data-component="passwordEmpty")
                template(data-component="passwordError")
                template(data-component="passwordRepeatLabel")
                template(data-component="passwordRepeatInput")
                template(data-component="passwordRepeatEmpty")
                template(data-component="passwordRepeatError")
                template(data-component="passwordRepeatEquality")
                template(data-component="registrationButton")

            div(class='submit-container')
                template(data-component="registrationButton")
            div(class='center-text')
                a(href='' id='enterHref') Войти