<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel='stylesheet', href='./registry.scss')
    body
        div(class='container')
            div(class='form-container')
                form(id='registry_form')
                    h3 Регистрация

                    label(for='mail') Почта
                    input(type='email' name='mail' id='mail')

                    span(class='hide' id='mail-empty') Введите почту

                    label(for='login') Логин
                    input(type='text' name='login' id='login')

                    span(class='hide' id='login-empty') Введите логин

                    label(for='firstName') Имя
                    input(type='text' name='firstName' id='firstName')

                    span(class='hide' id='first-name-empty') Введите имя

                    label(for='secondName') Фамилия
                    input(type='text' name='secondName' id='secondName')

                    span(class='hide' id='second-name-empty') Введите фамилию

                    label(for='phone') Телефон
                    input(type='tel' name='phone' id='phone')

                    span(class='hide' id='phone-empty') Введите номер телефона

                    label(for='password') Пароль
                    input(type='password' name='password' id='password')

                    span(class='hide' id='password-empty') Введите пароль
                    span(class='hide' id='password-error') Пароль должен соответствовать определенному шаблону

                    label(for='passwordRepeat') Пароль (еще раз)
                    input(type='password' name='passwordRepeat' id='passwordRepeat')

                    span(class='hide' id='password-repeat-empty') Повторите пароль
                    span(class='hide' id='password-repeat-error') Пароль должен соответствовать определенному шаблону
                    span(class='hide' id='password-repeat-equality') Введенные пароли не одинаковы

                    div(class='submit-container')

                    div(class='center-text')
                        a(href='../../index.pug') Войти

    script(src='./registry.ts')