div(class='container')
    div(class='profile_image')
            img(src='../../../../public/svg/image.svg' class='empty-image')
    div
        h3(class='user-name') Михаил

    div(class='form-container')
        form(id='password_form')
            div(class='form-row-data')
                div(class='legend')
                    template(data-component="oldPassSpan")
                div(class='value')
                    template(data-component="oldPassInput")

            template(data-component="oldPassClue")

            div(class='form-row-data')
                div(class='legend')
                    template(data-component="newPassSpan")
                div(class='value')
                    template(data-component="newPassInput")

            template(data-component="newPassClue")
            template(data-component="newPassError")
            template(data-component="newPassEqual")

            div(class='form-row-data')
                div(class='legend')
                    template(data-component="newRepPassSpan")
                div(class='value')
                    template(data-component="newRepPassInput")

            template(data-component="newRepPassClue")
            template(data-component="newRepPassError")
            template(data-component="newRepPassEqual")

            div(class='row-data-action')
                template(data-component="saveButton")
            div(class='center-text')
                a(href='' id='pass-change-back') Назад