div(class='container')
    div(class='form-container')
        form(id='auth_form')
            h3 Вход
            div(class='element-container')
                div(class='input-group')
                    template(data-component="loginLabel")
                    template(data-component="loginInput")
                    template(data-component="loginEmpty")
                    template(data-component="passwordLabel")
                    template(data-component="passwordInput")
                    template(data-component="passwordError")
                    template(data-component="passwordEmpty")

                div(class='button-group')
                    template(data-component="authButton")

                div(class='a-group')
                    a(href='' id='reg') Нет аккаунта?
                    a(href='') В чат