div(class='auth-container')
    div(class='auth-form-container')
        form(id='auth_form' class='auth-form')
            h2(class='auth-header') Вход
            div(class='auth-element-container')
                div(class='auth-input-group')
                    template(data-component="loginLabel")
                    template(data-component="loginInput")
                    template(data-component="loginEmpty")
                    template(data-component="passwordLabel")
                    template(data-component="passwordInput")
                    template(data-component="passwordError")
                    template(data-component="passwordEmpty")

                div(class='auth-button-group')
                    template(data-component="authButton")

                div(class='auth-a-group')
                    a(href='' id='reg' class='auth-a') Нет аккаунта?
                    a(href='' id='chat' class='auth-a') В чат