div(class='container')
    div(class='form-container')
        form(id='auth_form')
            h3 Вход
            div(class='element-container')
                div(class='input-group')

                div(class='button-group')

                div(class='a-group')
                    a(href='../registry/index.html') Нет аккаунта?
                    a(href='') В чат