div(class='err-container')
    div(class='err-header')
        span 401

    div(class='err-description')
        span Доступ запрещен

    div(class='err-button-container')
        button(type='submit' class='err-back' id='back-to-main') К авторизации
