@use 'src/styles/variables' as variables;
@use 'src/styles/mixins' as mixins;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html {
  @include mixins.fonts;
}

.header {
  text-align: center;
  font-size: 50px;
  letter-spacing: variables.$medium;

  margin-bottom: variables.$spacing_x1;
}

.container {
  @include mixins.flex-column-align-center;

  margin-top: 25vh;
}

.description {
  font-size: variables.$medium;
  color: variables.$default_dark;
  margin-top: 6px;
  text-align: center;
}

.button-container {
  @include mixins.flex-column;

  width: 12%;
}

button {
  display: block;
  margin-top: variables.$spacing_x1;

  height: 32px;
  padding: 0;

  font-size: variables.$small;
  background-color: variables.$primary;
  color: white;
  box-sizing: border-box;
  border-radius: 3%;
  border: 0 solid variables.$primary;
  box-shadow: none;
}

