div(class='container')
    div(class='profile_image')
        img(src='../../../public/svg/image.svg' class='empty-image')
    div
        h3(class='user-name') Михаил

    div(class='row-data')
        div(class='legend')
            template(data-component="mailLabel")
        div(class='value')
            template(data-component="mailValue")

    div(class='row-data')
        div(class='legend')
            template(data-component="loginLabel")
        div(class='value')
            template(data-component="loginValue")

    div(class='row-data')
        div(class='legend')
            template(data-component="nameLabel")
        div(class='value')
            template(data-component="nameValue")

    div(class='row-data')
        div(class='legend')
            template(data-component="secondNameLabel")
        div(class='value')
            template(data-component="secondNameValue")

    div(class='row-data')
        div(class='legend')
            template(data-component="chatNameLabel")
        div(class='value')
            template(data-component="chatNameValue")

    div(class='row-data')
        div(class='legend')
            template(data-component="phoneLabel")
        div(class='value')
            template(data-component="phoneValue")

    div(class='row-data-action')
        div(class='row-data')
            div(class='change-data')
                a(href='../profile-change/index.html') Изменить данные

        div(class='row-data')
            div(class='change-password')
                a(href='../password-change/index.html') Изменить пароль

        div(class='row-data')
            div(class='log-out')
                a(href='' class='log-out') Выйти