div(class='pro-container')
    div(class='pro-profile_image')
        img(src='../../../public/svg/image.svg' class='pro-empty-image')
    div

    div(class='pro-row-data')
        div(class='pro-legend')
            template(data-component="mailLabel")
        div(class='pro-value')
            template(data-component="mailValue")

    div(class='pro-row-data')
        div(class='pro-legend')
            template(data-component="loginLabel")
        div(class='pro-value')
            template(data-component="loginValue")

    div(class='pro-row-data')
        div(class='pro-legend')
            template(data-component="nameLabel")
        div(class='pro-value')
            template(data-component="nameValue")

    div(class='pro-row-data')
        div(class='pro-legend')
            template(data-component="secondNameLabel")
        div(class='pro-value')
            template(data-component="secondNameValue")

    div(class='pro-row-data')
        div(class='pro-legend')
            template(data-component="chatNameLabel")
        div(class='pro-value')
            template(data-component="chatNameValue")

    div(class='pro-row-data')
        div(class='pro-legend')
            template(data-component="phoneLabel")
        div(class='pro-value')
            template(data-component="phoneValue")

    div(class='pro-row-data-action')
        div(class='pro-row-data')
            div(class='pro-change-data')
                a(href='' class='pro-a') Изменить данные

        div(class='pro-row-data')
            div(class='pro-change-password')
                a(href='' class='pro-a') Изменить пароль

        div(class='pro-row-data')
            div(class='pro-log-out')
                a(href='' class='pro-a pro-log-out' id='logout-button') Выйти