@use 'src/styles/variables' as variables;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html {
  font-family: 'Open Sans', sans-serif;
  font-size: variables.$small;
}

.profile_image{
  border: 1px solid variables.$secondary;
  background-color: variables.$secondary;
  border-radius: 50%;

  width: 125px;
  height: 125px;
}

.empty-image {
  width: 60px;
  height: 60px;
  margin: 32px;

  color: variables.$default;
}

.row-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 40%;
  padding: 8px;

  border-bottom: 0.5px solid variables.$default;
}

.legend {
  font-weight: bold;
}

.value {
  color: variables.$default;
  font-weight: bold;
}

.row-data-action {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin-top: 30px;
}

a {
  text-align: center;
  text-decoration: none;
  color: variables.$primary;
}

.change-data, .change-password {
  color: variables.$primary;
}

.log-out {
  color: variables.$error;
}

h3 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 10vh;
}

.button-group {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: variables.$spacing_x3;
}

.input-group {
  margin-top: 0;
}

.save-button {
  width: 20%;
  height: 25px;
  padding: 10px 5px;

  border: 1px variables.$primary;
  border-radius: 15px;
  background-color: variables.$primary;
  text-align: center;

  a {
    color: white;
    font-size: variables.$medium;
  }
}

.password-input, .field-input {
  display: block;

  height: variables.$spacing_x2;
  width: 100%;

  outline: 0;
  border-width: 0 0 0;

  font-size: variables.$small;
  color: variables.$default;
}

.field-input {
  text-align: end;
}