div(class='err-container')
    div(class='err-header')
        span 500

    div(class='err-description')
        span Что-то пошло не так

    div(class='err-button-container')
        button(type='submit' class='err-back' id='back-to-chat') Назад к чату