div(class='create-modal' id='create-modal')
    div(class='create-modal-container')
        h3(class='create-chat-label') Введите название чата
        input(class='create-chat-input' type='text')
        button(class='create-chat-button' id='create-chat-button') Создать
