// colors
$primary: #3b74c9;
$secondary: lightgray;
$default: gray;
$default_dark: darkgray;
$error: red;

// spacing
$spacing_x1: 12px;
$spacing_x2: 24px;
$spacing_x3: 48px;

//font sizes
$small: 12px;
$medium: 14px;
$big: 16px;