div(class='container')
    div(class='list-container')
        div(class='list-header')
            div(class='profile-container')
                a(href='../profile/profile.pug' class='profile') Профиль >

        div(class='single-chat-container')
            div(class='avatar-container')
                div(class='avatar')

            div(class='message')
                h4(class='messenger-name') Ирина

            div(class='info')
                div(class='counter') 2

    div(class='chat-container')
        div(class='choose-chat')

        div(class='new-message-container hide')

            div(class='send-button-container')


