div(class='mess-container')
    div(class='mess-list-container')
        div(class='mess-list-header')
            template(data-component="searchInput")
            div(class='mess-profile-container')
                a(href='' class='mess-profile' id='create-chat') Создать +
                a(href='' class='mess-profile' id='profile') Профиль >

        div(class='mess-single-chat-container')
            div(class='mess-avatar-container')
                div(class='mess-avatar')

            div(class='mess-message')
                template(data-component="img")
                h4(class='mess-messenger-name') Ирина

            div(class='mess-info')
                template(data-component="time")
                div(class='mess-counter') 2

    div(class='mess-chat-container')
        div(class='mess-choose-chat')
            template(data-component="chooseChat")

        div(class='mess-new-message-container mess-hide')
            template(data-component="messInput")
            template(data-component="sendButton")



