div(class='mess-container')
    div(class='mess-list-container')
        div(class='mess-list-header')
            template(data-component="searchInput")
            div(class='mess-profile-container')
                a(href='' class='mess-profile' id='create-chat') Создать +
                a(href='' class='mess-profile' id='profile') Профиль >

        template(data-component="chatComponent")

    div(class='mess-chat-container')
        div(class='mess-choose-chat')
            template(data-component="chooseChat")

        div(class='current-chat-container' id='current-chat-container')

        div(class='mess-new-message-container mess-hide')
            template(data-component="messInput")
            template(data-component="sendButton")

div(class='create-chat-container')
    template(data-component="createChatModal")



