<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel='stylesheet', href='./messages.scss')
    body
        div(class='container')
            div(class='list-container')
                div(class='list-header')
                    div(class='profile-container')
                        a(href='../profile/profile.pug' class='profile') Профиль >
                    input(type='text' class='search-input' placeholder='Поиск')

                div(class='single-chat-container')
                    div(class='avatar-container')
                        div(class='avatar')

                    div(class='message')
                        h4(class='messenger-name') Андрей
                        span(class='messenger-text') изображение

                    div(class='info')
                        span(class='time') 10:10
                        div(class='counter') 2

                div(class='single-chat-container')
                    div(class='avatar-container')
                        div(class='avatar')

                    div(class='message')
                        h4(class='messenger-name') Вася
                        span(class='messenger-text') изображение

                    div(class='info')
                        span(class='time') 10:10
                        div(class='counter') 2

                div(class='single-chat-container')
                    div(class='avatar-container')
                        div(class='avatar')

                    div(class='message')
                        h4(class='messenger-name') Ирина
                        span(class='messenger-text') изображение

                    div(class='info')
                        span(class='time') 10:10
                        div(class='counter') 2

            div(class='chat-container')
                div(class='choose-chat')
                    span(class='choose-chat-clue') Выберите чат, чтобы начать общение

                div(class='new-message-container hide')
                    input(class='message-input' name='message' type='text' placeholder='Введите сообщение..')

                    div(class='send-button-container')
                        button(class='send-button') >

    script(src='./messages.ts')
