div(class='mess-container')
    div(class='mess-list-container')
        div(class='mess-list-header')
            template(data-component="searchInput")
            div(class='mess-profile-container')
                a(href='' class='mess-profile' id='create-chat') Создать +
                a(href='' class='mess-profile' id='profile') Профиль >

        div(class='mess-single-chat-container')
            div(class='mess-avatar-container')
                div(class='mess-avatar')

            div(class='mess-message')
                template(data-component="messengerName")
                template(data-component="lastText")
                span(class='hide chat-id-container') 673
                span(class='hide user-id-container') 143276

            div(class='mess-info')
                template(data-component="time")
                template(data-component="messageCounter")

    div(class='mess-chat-container')
        div(class='mess-choose-chat')
            template(data-component="chooseChat")

        div(class='mess-new-message-container mess-hide')
            template(data-component="messInput")
            template(data-component="sendButton")

div(class='create-chat-container')
    template(data-component="createChatModal")



