<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        div(class='container')
            div(class='list-container')
                div(class='list-header')
                    input(type='text' class='search-input')

            div(class='chat-container' aria-placeholder='Поиск')
                div(class='choose-chat')
                    span Выберите чат, чтобы начать общение

        script(src='./messages.js')
