<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        div(class='container')
            div(class='profile_image')
                img(src='../../../../public/svg/image.svg' class='empty-image')

            div(class='row-data')
                div(class='legend')
                    span Почта
                div(class='value')
                    span pochta@mail.ru

            div(class='row-data')
                div(class='legend')
                    span Логин
                div(class='value')
                    span loggin

            div(class='row-data')
                div(class='legend')
                    span Имя
                div(class='value')
                    span Михаил

            div(class='row-data')
                div(class='legend')
                    span Фамилия
                div(class='value')
                    span Иванов

            div(class='row-data')
                div(class='legend')
                    span Имя в чате
                div(class='value')
                    span Михаил

            div(class='row-data')
                div(class='legend')
                    span Телефон
                div(class='value')
                    span 8-999-140-14-14


            div(class='row-data-action')
                div(class='save-button')
                    a(href='../profile.pug') Сохранить


        script(src='./profile-change.js')