div(class='mess-single-chat-container')
    div(class='mess-avatar-container')
        div(class='mess-avatar')

    div(class='mess-message')
        div(class='mess-messenger-name')
        span(class='mess-messenger-text')

    div(class='mess-info')
        span(class='mess-time')
            div(class='mess-counter') 0