<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel='stylesheet', href='./404error.scss')
    body
        div(class='container')
            div(class='header')
                span 404

            div(class='description')
                span Куда это ты?

            div(class='button-container')
                button(type='submit') Назад к чату

        script(src='./404error.js')
