div(class='container')
    div(class='profile_image')
        img(src='../../../../public/svg/image.svg' class='empty-image')

    div(class='form-container')
        form(id='profile_form')

            div(class='form-row-data')
                div(class='legend')
                    template(data-component="mailLabel")
                div(class='value')
                    template(data-component="mailInput")

            template(data-component="mailClue")

            div(class='form-row-data')
                div(class='legend')
                    template(data-component="loginLabel")
                div(class='value')
                    template(data-component="loginInput")

            template(data-component="loginClue")
            template(data-component="loginError")

            div(class='form-row-data')
                div(class='legend')
                    template(data-component="nameLabel")
                div(class='value')
                    template(data-component="nameInput")

            template(data-component="nameClue")
            template(data-component="nameError")

            div(class='form-row-data')
                div(class='legend')
                    template(data-component="secondNameLabel")
                div(class='value')
                    template(data-component="secondNameInput")

            template(data-component="secondNameClue")
            template(data-component="secondNameError")

            div(class='form-row-data')
                div(class='legend')
                    template(data-component="chatNameLabel")
                div(class='value')
                    template(data-component="chatNameInput")

            template(data-component="chatNameClue")

            div(class='form-row-data')
                div(class='legend')
                    template(data-component="phoneLabel")
                div(class='value')
                    template(data-component="phoneInput")

            template(data-component="phoneClue")

            div(class='row-data-action')
                template(data-component="saveButton")
            div(class='center-text')
                a(href='' id='pro-change-back') Назад
