div(class='err-container')
    div(class='err-header')
        span 404

    div(class='err-description')
        span Куда это ты?

    div(class='err-button-container')
        button(type='submit' class='err-back' id='back-to-chat') Назад к чату
