<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel='stylesheet', href='../profile.scss')
    body
        div(class='container')
            div(class='profile_image')
                img(src='../../../../public/svg/image.svg' class='empty-image')
            div
                h3(class='user-name') Михаил

            div(class='row-data')
                div(class='legend')
                    span Старый пароль
                div(class='value')
                    input(type='password' name='old_password' placeholder='Введите пароль' class='password-input')

            div(class='row-data')
                div(class='legend')
                    span Новый пароль
                div(class='value')
                    input(type='password' name='new_password' placeholder='Введите пароль' class='password-input')

            div(class='row-data')
                div(class='legend')
                    span Повторите новый пароль
                div(class='value')
                    input(type='password' name='new_password_repeat' placeholder='Введите пароль' class='password-input')


            div(class='row-data-action')
                div(class='save-button')
                    a(href='../profile.pug') Сохранить


        script(src='./password-change.js')