<!DOCTYPE html>
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Document
        link(rel='stylesheet', href='../profile.styles.scss')
    body
        div(class='container')
            div(class='profile_image')
                img(src='../../../../public/svg/image.svg' class='empty-image')
            div
                h3(class='user-name') Михаил

            div(class='form-container')
                form(id='password_form')
                    div(class='form-row-data')
                        div(class='legend')
                            span Старый пароль
                        div(class='value')
                            input(type='password' name='oldPassword' placeholder='Введите пароль' class='password-input')

                    span(class='hide' id='old-password-empty') Введите старый пароль

                    div(class='form-row-data')
                        div(class='legend')
                            span Новый пароль
                        div(class='value')
                            input(type='password' name='newPassword' placeholder='Введите пароль' class='password-input')

                    span(class='hide' id='new-password-empty') Введите новый пароль
                    span(class='hide' id='new-password-error') Пароль должен содержать от 8 до 40 символов, обязательно хотя бы одна заглавная буква и цифра.
                    span(class='hide' id='new-password-equality') Новый пароль должен отличаться от старого

                    div(class='form-row-data')
                        div(class='legend')
                            span Повторите новый пароль
                        div(class='value')
                            input(type='password' name='newPasswordRepeat' placeholder='Введите пароль' class='password-input')

                    span(class='hide' id='new-password-repeat-empty') Повторите новый пароль
                    span(class='hide' id='new-password-repeat-error') Пароль должен содержать от 8 до 40 символов, обязательно хотя бы одна заглавная буква и цифра.
                    span(class='hide' id='new-password-repeat-equality') Введенные пароли не одинаковы

                    div(class='row-data-action')

                    div(class='center-text')
                        a(href='../profile.template.pug') Назад

    script(src='./password-change.ts' type='module')