<!DOCTYPE html>
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Document
        link(rel='stylesheet', href='./index.scss')
    body
        div(class='container')
            div(class='form-container')
                form(id='auth_form')
                    h3 Вход
                    div(class='element-container')
                        div(class='input-group')
                            label(for='login') Логин
                            input(type='text' name='login' id='login')

                            span(class='hide' id='login-empty') Введите логин

                            label(for='password') Пароль
                            input(type='password' name='password' id='password')

                            span(class='hide' id='password-error') Пароль должен соответствовать определенному шаблону
                            span(class='hide' id='password-empty') Введите пароль

                        div(class='button-group')

                        div(class='a-group')
                            a(href='./pages/registry/registry.pug') Нет аккаунта?
                            a(href='./pages/messages/messages.pug') В чат

    script(src='./index.ts')
